/* Common Styles Section */
:root {
  --bg_main: #1D71F2;
  --card-bg: #D3CEDF;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --SpiroDiscoBall: #19C3FB;
  --ButtonBlue: #1C9CF6;
  --CrayolaBlue: #1D71F2;
  --Caveat: font-family 'Caveat', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  font-family: var(--Caveat);
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
}


ul {
  list-style: none;
}

.page-wrapper {
  min-height: 100vh;
  background-image: url("images/evening-clouds.png");
  background-size: cover;
}

body {
  font: 1rem 'Caveat', cursive;
  color: var(--text_dark);
}

/* Search Form Section */
.top {
  color: var(--text_light);
}

.heading {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
  text-align: center;
}

.sub-heading {
  font-size: 2.2rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
  margin: 2rem auto;
  text-align: center;
}

.top form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
  text-align: center;
}

.top form input::placeholder {
  color: currentColor;
  text-align: center;
}

.top form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--SpiroDiscoBall);
  transition: background 0.3s ease-in-out;
}

.top form button:hover {
  background: var(--ButtonBlue);
}

.msg {
  max-width: 450px;
  min-height: 40px;
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem auto;
}

/* Main Card Section */

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 0 !important;
}


.card {
  /* background-color: #BCCEF8; */
  background-color: var(--card-bg);
  /* background-color: #D5D5D5; */
}

.city-icon {
  display: flex;
}

.date {
  color: var(--SpiroDiscoBall);
}

.city-name,
.date {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  word-break: break-all;
}

.lows-highs sup {
  text-align: center;
  padding: 0.1em 0.5em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--CrayolaBlue);
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

figure {
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.data-category {
  margin-top: 1rem;
  font-size: 3rem
}

.data-value,
.icon-caption {
  text-align: center;
  font-size: 2rem;
  word-wrap: break-word;

}

/*Map Section*/
.map {
  width: 90%;
  height: 80vh;
  border-radius: 5px;
  margin: 0 auto;
}

/*Footer Section*/
.footer {
  text-align: center;
  font-size: 1rem;
  color: var(--text_light);
  margin-top: 5rem;
}

.footer span {
  color: var(--SpiroDiscoBall);
}

.footer-hr {
  color: #dee2e6;
}

/* Media Queries Section */

/* Extra Small to Small Devices */

@media screen and (max-width: 567px) {
  body {
    font-size: 1.5rem;
    /*padding: 15px;*/
  }

  .top form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 75%;
  }

  .top form .msg {
    font-size: 1.4rem;
    max-width: 450px;
    min-height: 40px;
    text-align: center;
    margin: 1rem auto;
  }

  .top form button {

    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-top: 3rem;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--SpiroDiscoBall);
    transition: background 0.3s ease-in-out;
    width: 100%;
  }

  .city-name,
  .date,
  .name {
    font-size: 4rem;
  }

  figure {
    height: auto;
    width: auto;
  }


  .data-value {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  .row {
    flex-wrap: wrap;
  }
}

/* Small to Medium Devices */
@media screen and (min-width: 567px) and (max-width: 767px) {
  body {
    font-size: 1.5rem;
    /*padding: 15px;   */
  }

  .card,
  .card-custom {
    margin-top: 20px;
  }

  .top form {
    flex-direction: column;
    align-items: flex-start;
  }

  .top form input,
  .top form button {
    width: 100%;
  }

  .top form button {
    margin: 20px 0 0 0;
  }

  .top form .msg {
    font-size: 1rem;
    max-width: 450px;
    min-height: 40px;
    text-align: center;
    margin: 2rem auto auto auto;
  }

  .city-name,
  .date,
  .name {
    font-size: 4rem;
    text-align: center;
  }

  figure {
    height: auto;
    width: auto;
  }

  .data-value {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .row {
    flex-wrap: wrap;
  }
}

/* Medium to Large Devices */
@media screen and (min-width: 767px) and (max-width: 992px) {
  body {
    font-size: 1.5rem;
  }

  .city-name,
  .date,
  .name {
    font-size: 3.5rem;
  }

  .data-value {
    margin-top: 1rem;
    font-size: 2.2rem;
  }

  .row {
    flex-wrap: wrap;
  }
}